.all-channels-container{
    display: flex;
    flex-wrap: wrap;
}

.channel-container{
    background-color: #FDE047;
    width: 30%;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 1%;
}

.channel-logo{
    /* background-color:#D9D9D9; */
    border-radius: 10px;
    padding: 1%;
    margin: auto;
}

.logo-css{
    width: 150px;
    height: 150px;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.channel-footer{
    margin: 0% 3%;
    display:flex;
    justify-content: space-between;
}

